@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #newperson
    {
        margin-bottom: 10px;
        border-bottom: 2px solid #0058B0;
        padding-bottom: 5px; 
    }
    #people
    {
        list-style-type: none;
        margin-left: -40px;
        margin-top: 40px;
    }
    .quickaction
    {
        width: 800px;
        margin: auto;
    }
    .quickaction label { color: Gray; }
</style>
<script language="javascript" type="text/javascript">
    $(function () {
        var nameel = $('#newperson #name');

        $("#newperson form").submit(function (event) {
            event.preventDefault();

            var name = nameel.val();
            $.post('/people', { name: name },
                function (data) {
                    var anchor = data.Name.replace(' ', '').toLowerCase();
                    $('#people').append('<li><a id=\'' + anchor + '\' class=\'recentlyadded\'>' + data.Name + '</a></li>');
                    nameel.val('');
                }
            );
        });

        nameel.focus();
    });
</script>
<div class="quickaction">
    <div id="newperson">
        <form>
        <label>Quick </label>
        <input id="name" />
        <button>
            Add</button>
        </form>
    </div>
    <ul id="people">
    </ul>
</div>
